--requirement requirements.txt
autoflake==1.4
black==21.12b0
flake8==4.0.1
isort==5.10.1
mypy==0.930
pre-commit==2.16.0
pylint==2.12.2
pytest==6.2.5
setuptools==60.0.4
twine==3.7.1
types-setuptools==57.4.4
types-toml==0.10.1
wheel==0.37.1
